page-home {
    ion-card {
        ion-card-content {
            ion-card-title {
                padding: 0 2%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: block;
                font-size: 1.8rem !important;
                color: map-get($colors, titlePost) !important;
            }
        }
    }
}