<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>
            <span>Home</span>
        </ion-title>
    </ion-navbar>
    <ion-searchbar (ionInput)="filterPosts($event)" placeholder="Ingrese título"></ion-searchbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let item of items" (click)="viewsPosts($event, item)">
        <ion-avatar item-start>
            <img src="">
        </ion-avatar>
        <ion-card-content>
            <ion-card-title text-nowrap>
                {{ item.title }}
            </ion-card-title>
        </ion-card-content>
        <button ion-button icon-right clear small class="viewsPosts">
            <ion-icon name="eye"></ion-icon><span> Ver mas...</span>
    </button>
    </ion-card>
</ion-content>