<!--
  Generated template for the PostDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>{{ items.title }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>
        <ion-item>
            <ion-avatar item-start>
                <img src="{{ thumbnailUrl }}">
            </ion-avatar>
            <h2>{{ name }}</h2>
        </ion-item>
        <h3>{{ items.title }}</h3>
        <img src="{{ thumbnailUrl }}">

        <ion-card-content>
            <div [innerHTML]="items.body"></div>
        </ion-card-content>

        <ion-row>
            <ion-col>
                <button ion-button icon-left clear small (click)="openComments($event, items.id)">
              <ion-icon name="text"></ion-icon>
              <div>{{ totalComments }} Comentarios</div>
            </button>
            </ion-col>
        </ion-row>

    </ion-card>
</ion-content>