<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button navPop>
          <span>Cerrar</span>
      </button>
        </ion-buttons>
        <ion-title>Comentarios</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let comment of comments">
        <ion-card-header>
            <ion-icon name="person"></ion-icon> {{ comment.name }}
        </ion-card-header>
        <ion-card-content>
            {{ comment.body }}
        </ion-card-content>
    </ion-card>

    <span *ngIf="totalComments <= 0">No hay comentarios!</span>
</ion-content>